<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ 'd-flex': fullWidthMode }">
    <img
      [routerLink]="['/product', product.productId]"
      src="{{
        product.productImages.length > 0
          ? apiUrl + product.productImages[0].imageUrl
          : apiUrl + '/images/product.png'
      }}"
      class="mb-1 mx-auto product-img cursor-p"
      [ngClass]="{ 'h-200': !fullWidthMode, 'h-360': fullWidthMode }"
    />
    <div
      class="w-100 p-1"
      [ngClass]="{
        'px-8 d-flex flex-column justify-content-between': fullWidthMode
      }"
    >
      <div>
        <h5>{{ product.code }}</h5>
        <p
          [routerLink]="['/product', product.productId]"
          class="truncate hover:whitespace-normal cursor-p"
          [ngClass]="{ truncate: !fullWidthMode }"
        >
          {{ product.title }}
        </p>
        <p *ngIf="fullWidthMode">{{ product.description }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <span class="text-danger">{{ product.price | currency : "EUR" }}</span>
        <button mat-icon-button (click)="onAddToCart()">
          <mat-icon class="text-primary">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
