<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="closeModal('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong
      >Are you sure you want to delete
      <span class="text-primary">{{ product.code }}</span> product?</strong
    >
  </p>
  <p>
    All information associated to this product will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="closeModal('close')"
  >
    Cancel
  </button>
  <button type="button" class="btn btn-danger" (click)="onSubmit()">
    Confirm Delete
  </button>
</div>
