<ngb-carousel style="width: 100%; height: 100%">
  <ng-template
    ngbSlide
    style="width: 100%; height: 100%"
    *ngFor="let slide of slides"
  >
    <div class="picsum-img-wrapper" style="width: 100%">
      <img
        [src]="apiUrl + slide.imageUrl"
        alt="slider image"
        style="width: 100%; height: 450px; object-fit: cover"
      />
    </div>
    <div class="carousel-caption">
      <button
        type="button"
        class="btn btn-outline-secondary"
        style="color: aliceblue"
        [routerLink]="['/product', slide.productId]"
      >
        More Details
      </button>
    </div>
  </ng-template>
</ngb-carousel>
